<script type="text/javascript" src='./DataTables/media/js/jquery.js'></script>

<script type="text/javascript" src="./DataTables/media/js/jquery.dataTables.min.js"></script>


<style src="Search.css"></style>

<style src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></style>

<style src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css "></style>

<style  src="DataTables/media/css/jquery.dataTables.min.css"></style>
<style src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></style>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>


 <style>


.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #00838f !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}
</style>
<body>
    <!-- Sidenav -->
    <% include ../partials/sidebar %>
        <!-- Main content -->
        <div class="main-content">
            <!-- Top navbar -->
            <% include ../partials/navbar_query_data %>
                <!-- Header -->
                <% include ../partials/header %>
                    <!-- Page content -->
                    <div class="container-fluid mt--7">
                        
                        <div class="row">
                            <div class="container mt-5">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-10">
                                        <div class="card p-3 py-4">
                                            <h5>Search Data</h5>
                                            <div class="row g-3 mt-2">
                                                <div class="col-md-3">
                                                    
                                                    <div class="dropdown"> <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"> Any Service </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <li><a  href="#">Facebook</a></li>
                                                            <li><a class="dropdown-item" onclick="change_api('Twitter')">Twitter</a></li>
                                                            <li><a class="dropdown-item"onclick="change_api('Youtube')">Youtube</a></li>
                                                            <li><a class="dropdown-item" onclick="change_api('Linkedin')">Linkedin</a></li>
                                                            <li><a class="dropdown-item" onclick="change_api('All')">All</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <script>
                                                    function change_api(api)
                                                    { 
                                                        document.getElementById("dropdownMenuButton").textContent=api
                                                    }
                                                </script>
                                                
                                                <div class="col-md-6"> <input id="search_data" type="text" class="form-control" placeholder="Search...."> </div>
                                                <div class="col-md-3"> <button  class="btn btn-secondary btn-block" onclick="Search_data()">Search Results</button> </div>
                                            </div>
                                            <div class="mt-3"> <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="advanced"> Advance Search With Filters <i class="fa fa-angle-down"></i> </a>
                                                <div class="collapse" id="collapseExample">
                                                    <div class="card card-body">
                                                        <div class="row">
                                                            <div class="col-md-4"> <input id="User_id"type="text" placeholder="User_id" class="form-control"> </div>
                                                            <div class="col-md-4"> <input type="date" id="Date"class="form-control" placeholder="Date"> </div>
                                                            <div class="col-md-4"> <input type="text" id="Location"class="form-control" placeholder=" Location"> </div>
                                                            <div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="card card-stats mb-4 mb-xl-0">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <h5 class="card-title text-uppercase text-muted mb-0"> Statistics</h5>
                                                        <span class="h2 font-weight-bold mb-0" id="Statistics">0</span>
                                                    </div>
                                                   <!-- <div class="col-auto">
                                                        <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                            <i class="fas fa-chart-bar"></i>
                                                        </div>
                                                    </div>-->
                                                </div>
                                                <!--  <p class="mt-3 mb-0 text-muted text-sm">
                                                      <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                                      <span class="text-nowrap">Since last month</span>
                                                  </p>-->
                                              </div>
                                          </div>

                                    </div>
                                </div>
                            </div>
                        <!--  -->
                            <div class=" col-xl-6 mb-5 mb-xl-0">
                                <div class="card bg-gradient-lighter shadow">
                                    <div class="card-header bg-transparent">
                                        
                                        <div class="row align-items-center" >
                                            <div class="col">
                                                <h6 class="text-uppercase text ls-1 mb-1">Overview</h6>
                                                <h2 class="text mb-0">Data Results</h2>
                                               
                                             

                                            </div>
                                           
                                        </div>
                                   
                                    </div>
                                    
                                   
                                      


                                    </div>
                                    <div  class="container" id="table">
                                </div>
                            </div>
                             
                            <div class="col-xl-6 mb-12 mb-xxl-4">   
                                <div class="card shadow">
                                    <div style="overflow: hidden ">
                                        <!-- <script src="https://d3js.org/d3.v4.js"></script>
                                        <script src="https://d3js.org/topojson.v2.min.js"></script>
                                        <script src="js/controllers/dashboard.js"></script> -->
                                        <div class="card-header bg-transparent">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                    
                                                    <h2 class="mb-0">Geographic view</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <!-- Chart -->
                                            <div class="chart">
                                                <div class="card-body p-0">
                                                    <div class="d-md-flex">
                                                        <div id="world-map-markers" class="p-1 flex-fill " style="overflow: hidden">
                                                            <div class="map" ></div>
                                                            <!-- Map will be created here -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /.d-md-flex -->
                                            </div>
                                            <!-- <canvas id="chart-orders" class="chart-canvas"></canvas> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                       
                  
                        </div>
                      <!--  <div class="row mt-5">
                            <div class="col-xl-8 mb-5 mb-xl-0">
                                <div class="card shadow">
                                    <div class="card-header border-0">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h3 class="mb-0">Top topics</h3>
                                            </div>
                                            <div class="col text-right">
                                                <a href="/tables" class="btn btn-sm btn-primary">See all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        
                                        <table id="top_topics" class="table align-items-center table-flush">


                                            <thead class="thead-light">
                                                <tr>

                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        <div class="col-xl-4">
                                <div class="card shadow">
                                    <div class="card-header border-0">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h3 class="mb-0">Feed factors</h3>
                                            </div>
                                            <div class="col text-right">
                                                <a href="#!" class="btn btn-sm btn-primary">See all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        
                                        <table class="table align-items-center table-flush">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col">Referral</th>
                                                    <th scope="col">Visitors</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">
                                                        Facebook
                                                    </th>
                                                    <td>
                                                        1,480
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-2">60%</span>
                                                            <div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        Facebook
                                                    </th>
                                                    <td>
                                                        5,480
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-2">70%</span>
                                                            <div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        Google
                                                    </th>
                                                    <td>
                                                        4,807
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-2">80%</span>
                                                            <div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        Instagram
                                                    </th>
                                                    <td>
                                                        3,678
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-2">75%</span>
                                                            <div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">
                                                        twitter
                                                    </th>
                                                    <td>
                                                        2,645
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <span class="mr-2">30%</span>
                                                            <div>
                                                                <div class="progress">
                                                                    <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>-->
                       
                       
                    </div>
        </div>
        
        <!-- Footer -->

        <% include ../partials/footer %>
        <!-- Include scripts -->
        <% include ../partials/scripts1 %>
</body>